{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
    <a href="{{ path('admin_user_browse') }}" class="btn btn-outline-secondary">Annuler</a>

    {{ include('admin/user/_form.html.twig') }}

{% endblock %}
